/* Services Section */
.services {
	padding: 0 0 15rem;

	&::before {
		content: "";
		display: block;
		top: 0;
		left: 0;
		width: 100vw;
		height: 12rem;
		z-index: 10;
		position: relative;
		background: linear-gradient(to bottom, rgb(3, 3, 3) 10%, rgba(3, 3, 3, 0) 100%);
	}

	&::before {
		margin-bottom: 2rem;
	}
}

.services-timeline {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 2.75rem;
	max-width: 1000px;
	margin: 0 auto;
}

.service-timeline-item {
	position: relative;
	display: flex;
	align-items: stretch;
	width: 100%;
	padding: 0 0.25rem;
}

.service-timeline-item:not(:first-child)::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translate(-50%, -100%);
	width: 2px;
	height: 2.75rem;
	background: linear-gradient(to bottom, var(--brand-accent-50) 0%, transparent 92%);
}

.service-timeline-item:nth-child(odd) {
	justify-content: flex-start;
}

.service-timeline-item:nth-child(even) {
	justify-content: flex-end;
}

.service-card {
	width: min(66%, 600px);
	position: relative;
	display: flex;
	flex-direction: column;
}

.service-header {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	margin-bottom: 1rem;
	gap: 2rem;
}

.service-name {
	font-size: 1.5rem;
	font-weight: 600;
	color: #ffffff;
}

.service-number {
	color: var(--brand-main);
	font-size: 1.5rem;
	font-weight: 800;
}

.service-header .separator {
	opacity: 0.6;
}

.service-description {
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 1.5rem;
	line-height: 1.6;
}

.service-features {
	list-style: none;
	margin-top: auto;
	padding-top: 1rem;
}

.service-features li {
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 0.5rem;
	padding-left: 1.5rem;
	position: relative;
}

.service-features li::before {
	content: "●";
	position: absolute;
	left: 0;
	color: var(--brand-main);
	font-weight: bold;
}

.service-features li:last-child {
	margin-bottom: 0;
}

@media (max-width: 768px) {
	.service-timeline-item {
		justify-content: center !important;

		.service-card {
			width: 100%;
		}
	}
}
